{% extends 'main/layout.html' %}

{% block title %} Main page{% endblock %}

{% block content%}
  <div class="features"> 
  <h2 class="main-p">Hello, World!</h2>
  <p class="son1">Welcome to my digital playground!</p>
  <p class="son">I built this site for the sole purpose of practicing my coding skills, so there are no hidden easter eggs here—just pure,
     honest learning!
    Right now, I am on my journey toward mastering Python, HTML, and CSS, while having fun exploring Git
      and building simple hands-on projects.</p>
  <p class="son">All of this is my launchpad before I head to university to study embedded systems and learn how to control hardware with code!</p>
  <a href="{% url 'about' %}"><button type="button" class="btn btn-secondary">About me page</button></a>

  </div>

{% endblock %}  
